[submodule "firmware-flasher"]
	path = airrohr-firmware-flasher
	url = https://github.com/airalab/airrohr-firmware-flasher.git
[submodule "firmware"]
	path = altruist-firmware
	url = https://github.com/airalab/altruist-firmware.git
